{
  "$id": "1",
  "StationValue": 200,
  "StationRent": 25,
  "UtilityValue": 150,
  "UtilityRent": [
    4,
    10
  ],
  "JailFine": 50,
  "Spaces": [],
  "StreetConfigurations": [
    {
      "$id": "2",
      "Name": "Old Kent Road",
      "SpaceNumber": 2,
      "Color": 0
    },
    {
      "$id": "3",
      "Name": "White Chapel Road",
      "SpaceNumber": 4,
      "Color": 0
    },
    {
      "$id": "4",
      "Name": "The Angel Islington",
      "SpaceNumber": 7,
      "Color": 1
    },
    {
      "$id": "5",
      "Name": "Euston Road",
      "SpaceNumber": 9,
      "Color": 1
    },
    {
      "$id": "6",
      "Name": "Pentonville Road",
      "SpaceNumber": 10,
      "Color": 1
    },
    {
      "$id": "7",
      "Name": "Pall Mall",
      "SpaceNumber": 12,
      "Color": 3
    },
    {
      "$id": "8",
      "Name": "White Hall",
      "SpaceNumber": 14,
      "Color": 3
    },
    {
      "$id": "9",
      "Name": "Northumberland Avenue",
      "SpaceNumber": 15,
      "Color": 3
    },
    {
      "$id": "10",
      "Name": "Bow Street",
      "SpaceNumber": 17,
      "Color": 4
    },
    {
      "$id": "11",
      "Name": "Marlborough Street",
      "SpaceNumber": 19,
      "Color": 4
    },
    {
      "$id": "12",
      "Name": "Vine Street",
      "SpaceNumber": 20,
      "Color": 4
    },
    {
      "$id": "13",
      "Name": "The Strand",
      "SpaceNumber": 22,
      "Color": 2
    },
    {
      "$id": "14",
      "Name": "Fleet Street",
      "SpaceNumber": 24,
      "Color": 2
    },
    {
      "$id": "15",
      "Name": "Trafalgar Square",
      "SpaceNumber": 25,
      "Color": 2
    },
    {
      "$id": "16",
      "Name": "Leicester Square",
      "SpaceNumber": 27,
      "Color": 5
    },
    {
      "$id": "17",
      "Name": "Conventry Street",
      "SpaceNumber": 28,
      "Color": 5
    },
    {
      "$id": "18",
      "Name": "Piccadilly",
      "SpaceNumber": 30,
      "Color": 5
    },
    {
      "$id": "19",
      "Name": "Regent Street",
      "SpaceNumber": 32,
      "Color": 6
    },
    {
      "$id": "20",
      "Name": "Oxford Street",
      "SpaceNumber": 33,
      "Color": 6
    },
    {
      "$id": "21",
      "Name": "Bond Street",
      "SpaceNumber": 35,
      "Color": 6
    },
    {
      "$id": "22",
      "Name": "Park Lane",
      "SpaceNumber": 38,
      "Color": 7
    },
    {
      "$id": "23",
      "Name": "Mayfair",
      "SpaceNumber": 40,
      "Color": 7
    }
  ],
  "StreetGroupConfigurations": [
    {
      "$id": "24",
      "Names": [
        "Old Kent Road",
        "White Chapel Road"
      ]
    },
    {
      "$id": "25",
      "Names": [
        "The Angel Islington",
        "Euston Road",
        "Pentonville Road"
      ]
    },
    {
      "$id": "26",
      "Names": [
        "Pall Mall",
        "White Hall",
        "Northumberland Avenue"
      ]
    },
    {
      "$id": "27",
      "Names": [
        "Bow Street",
        "Marlborough Street",
        "Vine Street"
      ]
    },
    {
      "$id": "28",
      "Names": [
        "The Strand",
        "Fleet Street",
        "Trafalgar Square"
      ]
    },
    {
      "$id": "29",
      "Names": [
        "Leicester Square",
        "Conventry Street",
        "Piccadilly"
      ]
    },
    {
      "$id": "30",
      "Names": [
        "Regent Street",
        "Oxford Street",
        "Bond Street"
      ]
    },
    {
      "$id": "31",
      "Names": [
        "Park Lane",
        "Mayfair"
      ]
    }
  ],
  "StreetTitleDeedConfigurations": [
    {
      "$id": "32",
      "Name": "Old Kent Road",
      "Value": 60,
      "BaseRent": 2,
      "HouseRents": [
        10,
        30,
        90,
        160
      ],
      "HotelRent": 250,
      "BuildingCost": 50
    },
    {
      "$id": "33",
      "Name": "White Chapel Road",
      "Value": 60,
      "BaseRent": 4,
      "HouseRents": [
        20,
        60,
        180,
        320
      ],
      "HotelRent": 450,
      "BuildingCost": 50
    },
    {
      "$id": "34",
      "Name": "The Angel Islington",
      "Value": 100,
      "BaseRent": 6,
      "HouseRents": [
        30,
        90,
        270,
        400
      ],
      "HotelRent": 550,
      "BuildingCost": 50
    },
    {
      "$id": "35",
      "Name": "Euston Road",
      "Value": 100,
      "BaseRent": 6,
      "HouseRents": [
        30,
        90,
        270,
        400
      ],
      "HotelRent": 550,
      "BuildingCost": 50
    },
    {
      "$id": "36",
      "Name": "Pentonville Road",
      "Value": 120,
      "BaseRent": 8,
      "HouseRents": [
        40,
        100,
        300,
        450
      ],
      "HotelRent": 600,
      "BuildingCost": 50
    },
    {
      "$id": "37",
      "Name": "Pall Mall",
      "Value": 140,
      "BaseRent": 10,
      "HouseRents": [
        50,
        150,
        450,
        625
      ],
      "HotelRent": 750,
      "BuildingCost": 100
    },
    {
      "$id": "38",
      "Name": "White Hall",
      "Value": 140,
      "BaseRent": 10,
      "HouseRents": [
        50,
        150,
        450,
        625
      ],
      "HotelRent": 750,
      "BuildingCost": 100
    },
    {
      "$id": "39",
      "Name": "Northumberland Avenue",
      "Value": 160,
      "BaseRent": 12,
      "HouseRents": [
        60,
        180,
        500,
        700
      ],
      "HotelRent": 900,
      "BuildingCost": 100
    },
    {
      "$id": "40",
      "Name": "Bow Street",
      "Value": 180,
      "BaseRent": 14,
      "HouseRents": [
        70,
        200,
        550,
        750
      ],
      "HotelRent": 950,
      "BuildingCost": 100
    },
    {
      "$id": "41",
      "Name": "Marlborough Street",
      "Value": 180,
      "BaseRent": 14,
      "HouseRents": [
        70,
        200,
        550,
        750
      ],
      "HotelRent": 950,
      "BuildingCost": 100
    },
    {
      "$id": "42",
      "Name": "Vine Street",
      "Value": 200,
      "BaseRent": 16,
      "HouseRents": [
        80,
        220,
        600,
        800
      ],
      "HotelRent": 1000,
      "BuildingCost": 100
    },
    {
      "$id": "43",
      "Name": "The Strand",
      "Value": 220,
      "BaseRent": 18,
      "HouseRents": [
        90,
        250,
        700,
        875
      ],
      "HotelRent": 1050,
      "BuildingCost": 150
    },
    {
      "$id": "44",
      "Name": "Fleet Street",
      "Value": 220,
      "BaseRent": 18,
      "HouseRents": [
        90,
        250,
        700,
        875
      ],
      "HotelRent": 1050,
      "BuildingCost": 150
    },
    {
      "$id": "45",
      "Name": "Trafalgar Square",
      "Value": 240,
      "BaseRent": 20,
      "HouseRents": [
        100,
        300,
        750,
        925
      ],
      "HotelRent": 1100,
      "BuildingCost": 150
    },
    {
      "$id": "46",
      "Name": "Leicester Square",
      "Value": 260,
      "BaseRent": 22,
      "HouseRents": [
        110,
        330,
        800,
        975
      ],
      "HotelRent": 1150,
      "BuildingCost": 150
    },
    {
      "$id": "47",
      "Name": "Conventry Street",
      "Value": 260,
      "BaseRent": 22,
      "HouseRents": [
        110,
        330,
        800,
        975
      ],
      "HotelRent": 1150,
      "BuildingCost": 150
    },
    {
      "$id": "48",
      "Name": "Piccadilly",
      "Value": 280,
      "BaseRent": 24,
      "HouseRents": [
        120,
        360,
        850,
        1025
      ],
      "HotelRent": 1200,
      "BuildingCost": 150
    },
    {
      "$id": "49",
      "Name": "Regent Street",
      "Value": 300,
      "BaseRent": 26,
      "HouseRents": [
        130,
        390,
        900,
        1100
      ],
      "HotelRent": 1275,
      "BuildingCost": 200
    },
    {
      "$id": "50",
      "Name": "Oxford Street",
      "Value": 300,
      "BaseRent": 26,
      "HouseRents": [
        130,
        390,
        900,
        1100
      ],
      "HotelRent": 1275,
      "BuildingCost": 200
    },
    {
      "$id": "51",
      "Name": "Bond Street",
      "Value": 320,
      "BaseRent": 28,
      "HouseRents": [
        150,
        450,
        1000,
        1200
      ],
      "HotelRent": 1400,
      "BuildingCost": 200
    },
    {
      "$id": "52",
      "Name": "Park Lane",
      "Value": 350,
      "BaseRent": 35,
      "HouseRents": [
        175,
        500,
        1100,
        1300
      ],
      "HotelRent": 1500,
      "BuildingCost": 200
    },
    {
      "$id": "53",
      "Name": "Mayfair",
      "Value": 400,
      "BaseRent": 50,
      "HouseRents": [
        200,
        600,
        1400,
        1700
      ],
      "HotelRent": 2000,
      "BuildingCost": 200
    }
  ],
  "ColorSetConfigurations": [
    {
      "$id": "54",
      "Names": [
        "Old Kent Road",
        "White Chapel Road"
      ]
    },
    {
      "$id": "55",
      "Names": [
        "The Angel Islington",
        "Euston Road",
        "Pentonville Road"
      ]
    },
    {
      "$id": "56",
      "Names": [
        "Pall Mall",
        "White Hall",
        "Northumberland Avenue"
      ]
    },
    {
      "$id": "57",
      "Names": [
        "Bow Street",
        "Marlborough Street",
        "Vine Street"
      ]
    },
    {
      "$id": "58",
      "Names": [
        "The Strand",
        "Fleet Street",
        "Trafalgar Square"
      ]
    },
    {
      "$id": "59",
      "Names": [
        "Leicester Square",
        "Conventry Street",
        "Piccadilly"
      ]
    },
    {
      "$id": "60",
      "Names": [
        "Regent Street",
        "Oxford Street",
        "Bond Street"
      ]
    },
    {
      "$id": "61",
      "Names": [
        "Park Lane",
        "Mayfair"
      ]
    }
  ],
  "StationConfigurations": [
    {
      "$id": "62",
      "Name": "King's Cross Station",
      "SpaceNumber": 6
    },
    {
      "$id": "63",
      "Name": "Fenchurch St Station",
      "SpaceNumber": 26
    },
    {
      "$id": "64",
      "Name": "Marylebone Station",
      "SpaceNumber": 16
    },
    {
      "$id": "65",
      "Name": "Liverpool Street Station",
      "SpaceNumber": 36
    }
  ],
  "StationGroupConfigurations": [
    {
      "$id": "66",
      "Names": [
        "King's Cross Station",
        "Fenchurch St Station",
        "Marylebone Station",
        "Liverpool Street Station"
      ]
    }
  ],
  "StationTitleDeedConfigurations": [
    {
      "$id": "67",
      "Name": "King's Cross Station"
    },
    {
      "$id": "68",
      "Name": "Fenchurch St Station"
    },
    {
      "$id": "69",
      "Name": "Marylebone Station"
    },
    {
      "$id": "70",
      "Name": "Liverpool Street Station"
    }
  ],
  "UtilityConfigurations": [
    {
      "$id": "71",
      "Name": "Electric Company",
      "SpaceNumber": 13
    },
    {
      "$id": "72",
      "Name": "Water works",
      "SpaceNumber": 29
    }
  ],
  "UtilityGroupConfigurations": [
    {
      "$id": "73",
      "Names": [
        "Electric Company",
        "Water works"
      ]
    }
  ],
  "UtilityTitleDeedsConfigurations": [
    {
      "$id": "74",
      "Name": "Electric Company"
    },
    {
      "$id": "75",
      "Name": "Water works"
    }
  ],
  "JailConfiguration": {
    "$id": "76",
    "SpaceNumber": 11
  },
  "GoToJailConfiguration": {
    "$id": "77",
    "JailName": "Jail",
    "SpaceNumber": 31
  },
  "TaxConfigurations": [
    {
      "$id": "78",
      "Name": "Income Tax",
      "SpaceNumber": 5,
      "TaxAmount": 200
    },
    {
      "$id": "79",
      "Name": "Super Tax",
      "SpaceNumber": 39,
      "TaxAmount": 100
    }
  ],
  "GoConfiguration": {
    "$id": "80",
    "SpaceNumber": 1,
    "Salary": 200
  },
  "ParkingSpaceConfiguration": {
    "$id": "81",
    "SpaceNumber": 21
  },
  "ActionConfigurations": [
    {
      "$id": "82",
      "Id": "CC1",
      "Type": "pos",
      "Transactable": null,
      "VarRentChanger": null,
      "TempRentValue": null,
      "PossibleSpaceNumbers": null,
      "SpaceNumber": 1,
      "PassableSpaceNumbers": null,
      "Amount": null,
      "MoneyPerHouse": null,
      "MoneyPerHotel": null,
      "MoneyActionType": 0
    },
    {
      "$id": "83",
      "Id": "cc2",
      "Type": "mon",
      "Transactable": "bank",
      "VarRentChanger": null,
      "TempRentValue": null,
      "PossibleSpaceNumbers": null,
      "SpaceNumber": null,
      "PassableSpaceNumbers": null,
      "Amount": 200,
      "MoneyPerHouse": null,
      "MoneyPerHotel": null,
      "MoneyActionType": 0
    },
    {
      "$id": "84",
      "Id": "cc3",
      "Type": "mon",
      "Transactable": "bank",
      "VarRentChanger": null,
      "TempRentValue": null,
      "PossibleSpaceNumbers": null,
      "SpaceNumber": null,
      "PassableSpaceNumbers": null,
      "Amount": 50,
      "MoneyPerHouse": null,
      "MoneyPerHotel": null,
      "MoneyActionType": 1
    },
    {
      "$id": "85",
      "Id": "cc4",
      "Type": "mon",
      "Transactable": "bank",
      "VarRentChanger": null,
      "TempRentValue": null,
      "PossibleSpaceNumbers": null,
      "SpaceNumber": null,
      "PassableSpaceNumbers": null,
      "Amount": 50,
      "MoneyPerHouse": null,
      "MoneyPerHotel": null,
      "MoneyActionType": 0
    },
    {
      "$id": "86",
      "Id": "cc5",
      "Type": "rel",
      "Transactable": null,
      "VarRentChanger": null,
      "TempRentValue": null,
      "PossibleSpaceNumbers": null,
      "SpaceNumber": null,
      "PassableSpaceNumbers": null,
      "Amount": null,
      "MoneyPerHouse": null,
      "MoneyPerHotel": null,
      "MoneyActionType": 0
    },
    {
      "$id": "87",
      "Id": "cc6",
      "Type": "pos",
      "Transactable": null,
      "VarRentChanger": null,
      "TempRentValue": null,
      "PossibleSpaceNumbers": null,
      "SpaceNumber": 30,
      "PassableSpaceNumbers": null,
      "Amount": null,
      "MoneyPerHouse": null,
      "MoneyPerHotel": null,
      "MoneyActionType": 0
    },
    {
      "$id": "88",
      "Id": "cc7",
      "Type": "mon",
      "Transactable": "bank",
      "VarRentChanger": null,
      "TempRentValue": null,
      "PossibleSpaceNumbers": null,
      "SpaceNumber": null,
      "PassableSpaceNumbers": null,
      "Amount": 100,
      "MoneyPerHouse": null,
      "MoneyPerHotel": null,
      "MoneyActionType": 0
    },
    {
      "$id": "89",
      "Id": "cc8",
      "Type": "mon",
      "Transactable": "bank",
      "VarRentChanger": null,
      "TempRentValue": null,
      "PossibleSpaceNumbers": null,
      "SpaceNumber": null,
      "PassableSpaceNumbers": null,
      "Amount": 20,
      "MoneyPerHouse": null,
      "MoneyPerHotel": null,
      "MoneyActionType": 0
    },
    {
      "$id": "90",
      "Id": "cc9",
      "Type": "mon",
      "Transactable": "players",
      "VarRentChanger": null,
      "TempRentValue": null,
      "PossibleSpaceNumbers": null,
      "SpaceNumber": null,
      "PassableSpaceNumbers": null,
      "Amount": 10,
      "MoneyPerHouse": null,
      "MoneyPerHotel": null,
      "MoneyActionType": 0
    },
    {
      "$id": "91",
      "Id": "cc10",
      "Type": "mon",
      "Transactable": "bank",
      "VarRentChanger": null,
      "TempRentValue": null,
      "PossibleSpaceNumbers": null,
      "SpaceNumber": null,
      "PassableSpaceNumbers": null,
      "Amount": 100,
      "MoneyPerHouse": null,
      "MoneyPerHotel": null,
      "MoneyActionType": 0
    },
    {
      "$id": "92",
      "Id": "cc11",
      "Type": "mon",
      "Transactable": "bank",
      "VarRentChanger": null,
      "TempRentValue": null,
      "PossibleSpaceNumbers": null,
      "SpaceNumber": null,
      "PassableSpaceNumbers": null,
      "Amount": 100,
      "MoneyPerHouse": null,
      "MoneyPerHotel": null,
      "MoneyActionType": 1
    },
    {
      "$id": "93",
      "Id": "cc12",
      "Type": "mon",
      "Transactable": "bank",
      "VarRentChanger": null,
      "TempRentValue": null,
      "PossibleSpaceNumbers": null,
      "SpaceNumber": null,
      "PassableSpaceNumbers": null,
      "Amount": 50,
      "MoneyPerHouse": null,
      "MoneyPerHotel": null,
      "MoneyActionType": 1
    },
    {
      "$id": "94",
      "Id": "cc13",
      "Type": "mon",
      "Transactable": "bank",
      "VarRentChanger": null,
      "TempRentValue": null,
      "PossibleSpaceNumbers": null,
      "SpaceNumber": null,
      "PassableSpaceNumbers": null,
      "Amount": 25,
      "MoneyPerHouse": null,
      "MoneyPerHotel": null,
      "MoneyActionType": 0
    },
    {
      "$id": "95",
      "Id": "cc14",
      "Type": "rep",
      "Transactable": null,
      "VarRentChanger": null,
      "TempRentValue": null,
      "PossibleSpaceNumbers": null,
      "SpaceNumber": null,
      "PassableSpaceNumbers": null,
      "Amount": null,
      "MoneyPerHouse": 40,
      "MoneyPerHotel": 115,
      "MoneyActionType": 0
    },
    {
      "$id": "96",
      "Id": "cc15",
      "Type": "mon",
      "Transactable": "bank",
      "VarRentChanger": null,
      "TempRentValue": null,
      "PossibleSpaceNumbers": null,
      "SpaceNumber": null,
      "PassableSpaceNumbers": null,
      "Amount": 10,
      "MoneyPerHouse": null,
      "MoneyPerHotel": null,
      "MoneyActionType": 0
    },
    {
      "$id": "97",
      "Id": "cc16",
      "Type": "mon",
      "Transactable": "bank",
      "VarRentChanger": null,
      "TempRentValue": null,
      "PossibleSpaceNumbers": null,
      "SpaceNumber": null,
      "PassableSpaceNumbers": null,
      "Amount": 100,
      "MoneyPerHouse": null,
      "MoneyPerHotel": null,
      "MoneyActionType": 0
    },
    {
      "$id": "98",
      "Id": "c1",
      "Type": "pos",
      "Transactable": null,
      "VarRentChanger": null,
      "TempRentValue": null,
      "PossibleSpaceNumbers": null,
      "SpaceNumber": 1,
      "PassableSpaceNumbers": null,
      "Amount": null,
      "MoneyPerHouse": null,
      "MoneyPerHotel": null,
      "MoneyActionType": 0
    },
    {
      "$id": "99",
      "Id": "c2",
      "Type": "pos",
      "Transactable": null,
      "VarRentChanger": null,
      "TempRentValue": null,
      "PossibleSpaceNumbers": null,
      "SpaceNumber": 24,
      "PassableSpaceNumbers": [
        1
      ],
      "Amount": null,
      "MoneyPerHouse": null,
      "MoneyPerHotel": null,
      "MoneyActionType": 0
    },
    {
      "$id": "100",
      "Id": "c3",
      "Type": "pos",
      "Transactable": null,
      "VarRentChanger": null,
      "TempRentValue": null,
      "PossibleSpaceNumbers": null,
      "SpaceNumber": 39,
      "PassableSpaceNumbers": null,
      "Amount": null,
      "MoneyPerHouse": null,
      "MoneyPerHotel": null,
      "MoneyActionType": 0
    },
    {
      "$id": "101",
      "Id": "c4",
      "Type": "pos",
      "Transactable": null,
      "VarRentChanger": null,
      "TempRentValue": null,
      "PossibleSpaceNumbers": null,
      "SpaceNumber": 11,
      "PassableSpaceNumbers": [
        1
      ],
      "Amount": null,
      "MoneyPerHouse": null,
      "MoneyPerHotel": null,
      "MoneyActionType": 0
    },
    {
      "$id": "102",
      "Id": "c5",
      "Type": "nearpos",
      "Transactable": null,
      "VarRentChanger": "double",
      "TempRentValue": null,
      "PossibleSpaceNumbers": [
        6,
        26,
        16,
        36
      ],
      "SpaceNumber": null,
      "PassableSpaceNumbers": null,
      "Amount": null,
      "MoneyPerHouse": null,
      "MoneyPerHotel": null,
      "MoneyActionType": 0
    },
    {
      "$id": "103",
      "Id": "c6",
      "Type": "nearpos",
      "Transactable": null,
      "VarRentChanger": "double",
      "TempRentValue": null,
      "PossibleSpaceNumbers": [
        6,
        26,
        16,
        36
      ],
      "SpaceNumber": null,
      "PassableSpaceNumbers": null,
      "Amount": null,
      "MoneyPerHouse": null,
      "MoneyPerHotel": null,
      "MoneyActionType": 0
    },
    {
      "$id": "104",
      "Id": "c7",
      "Type": "nearpos",
      "Transactable": null,
      "VarRentChanger": "const",
      "TempRentValue": 10,
      "PossibleSpaceNumbers": [
        13,
        29
      ],
      "SpaceNumber": null,
      "PassableSpaceNumbers": null,
      "Amount": null,
      "MoneyPerHouse": null,
      "MoneyPerHotel": null,
      "MoneyActionType": 0
    },
    {
      "$id": "105",
      "Id": "c8",
      "Type": "mon",
      "Transactable": null,
      "VarRentChanger": null,
      "TempRentValue": null,
      "PossibleSpaceNumbers": null,
      "SpaceNumber": null,
      "PassableSpaceNumbers": null,
      "Amount": 50,
      "MoneyPerHouse": null,
      "MoneyPerHotel": null,
      "MoneyActionType": 0
    },
    {
      "$id": "106",
      "Id": "c9",
      "Type": "rel",
      "Transactable": null,
      "VarRentChanger": null,
      "TempRentValue": null,
      "PossibleSpaceNumbers": null,
      "SpaceNumber": null,
      "PassableSpaceNumbers": null,
      "Amount": null,
      "MoneyPerHouse": null,
      "MoneyPerHotel": null,
      "MoneyActionType": 0
    },
    {
      "$id": "107",
      "Id": "c10",
      "Type": "backpos",
      "Transactable": null,
      "VarRentChanger": null,
      "TempRentValue": null,
      "PossibleSpaceNumbers": [
        19,
        4,
        33
      ],
      "SpaceNumber": null,
      "PassableSpaceNumbers": null,
      "Amount": null,
      "MoneyPerHouse": null,
      "MoneyPerHotel": null,
      "MoneyActionType": 0
    },
    {
      "$id": "108",
      "Id": "c11",
      "Type": "pos",
      "Transactable": null,
      "VarRentChanger": null,
      "TempRentValue": null,
      "PossibleSpaceNumbers": null,
      "SpaceNumber": 30,
      "PassableSpaceNumbers": null,
      "Amount": null,
      "MoneyPerHouse": null,
      "MoneyPerHotel": null,
      "MoneyActionType": 0
    },
    {
      "$id": "109",
      "Id": "c12",
      "Type": "rep",
      "Transactable": null,
      "VarRentChanger": null,
      "TempRentValue": null,
      "PossibleSpaceNumbers": null,
      "SpaceNumber": null,
      "PassableSpaceNumbers": null,
      "Amount": null,
      "MoneyPerHouse": 25,
      "MoneyPerHotel": 100,
      "MoneyActionType": 0
    },
    {
      "$id": "110",
      "Id": "c13",
      "Type": "mon",
      "Transactable": "bank",
      "VarRentChanger": null,
      "TempRentValue": null,
      "PossibleSpaceNumbers": null,
      "SpaceNumber": null,
      "PassableSpaceNumbers": null,
      "Amount": 15,
      "MoneyPerHouse": null,
      "MoneyPerHotel": null,
      "MoneyActionType": 1
    },
    {
      "$id": "111",
      "Id": "c14",
      "Type": "pos",
      "Transactable": null,
      "VarRentChanger": null,
      "TempRentValue": null,
      "PossibleSpaceNumbers": null,
      "SpaceNumber": 5,
      "PassableSpaceNumbers": [
        1
      ],
      "Amount": null,
      "MoneyPerHouse": null,
      "MoneyPerHotel": null,
      "MoneyActionType": 0
    },
    {
      "$id": "112",
      "Id": "c15",
      "Type": "mon",
      "Transactable": "players",
      "VarRentChanger": null,
      "TempRentValue": null,
      "PossibleSpaceNumbers": null,
      "SpaceNumber": null,
      "PassableSpaceNumbers": null,
      "Amount": 50,
      "MoneyPerHouse": null,
      "MoneyPerHotel": null,
      "MoneyActionType": 1
    },
    {
      "$id": "113",
      "Id": "c16",
      "Type": "mon",
      "Transactable": "bank",
      "VarRentChanger": null,
      "TempRentValue": null,
      "PossibleSpaceNumbers": null,
      "SpaceNumber": null,
      "PassableSpaceNumbers": null,
      "Amount": 150,
      "MoneyPerHouse": null,
      "MoneyPerHotel": null,
      "MoneyActionType": 0
    }
  ],
  "ActionCardsConfigurations": [
    {
      "$id": "114",
      "Id": "CC1",
      "CardType": "CC",
      "Description": "Advance To Go"
    },
    {
      "$id": "115",
      "Id": "cc2",
      "CardType": "CC",
      "Description": "Bank error in your favour. Collect £200"
    },
    {
      "$id": "116",
      "Id": "cc3",
      "CardType": "CC",
      "Description": "Doctor's fee. Pay £50"
    },
    {
      "$id": "117",
      "Id": "cc4",
      "CardType": "CC",
      "Description": "From sale of stock you get £50"
    },
    {
      "$id": "118",
      "Id": "cc5",
      "CardType": "CC",
      "Description": "Get Out of Jail Free"
    },
    {
      "$id": "119",
      "Id": "cc6",
      "CardType": "CC",
      "Description": "Go to Jail. Go directly to jail, do not pass Go, do not collect £200"
    },
    {
      "$id": "120",
      "Id": "cc7",
      "CardType": "CC",
      "Description": "Holiday fund matures. Receive £100"
    },
    {
      "$id": "121",
      "Id": "cc8",
      "CardType": "CC",
      "Description": "Income tax refund. Collect £20"
    },
    {
      "$id": "122",
      "Id": "cc9",
      "CardType": "CC",
      "Description": "It is your birthday. Collect £10 from every player"
    },
    {
      "$id": "123",
      "Id": "cc10",
      "CardType": "CC",
      "Description": "Life insurance matures. Collect £100"
    },
    {
      "$id": "124",
      "Id": "cc11",
      "CardType": "CC",
      "Description": "Pay hospital fees of £100"
    },
    {
      "$id": "125",
      "Id": "cc12",
      "CardType": "CC",
      "Description": "Pay school fees of £50"
    },
    {
      "$id": "126",
      "Id": "cc13",
      "CardType": "CC",
      "Description": "Receive £25 consultancy fee"
    },
    {
      "$id": "127",
      "Id": "cc14",
      "CardType": "cc",
      "Description": "You are assessed for street repairs. £40 per house. £115 per hotel"
    },
    {
      "$id": "128",
      "Id": "cc15",
      "CardType": "cc",
      "Description": "You have won second prize in a beauty contest. Collect £10"
    },
    {
      "$id": "129",
      "Id": "cc16",
      "CardType": "cc",
      "Description": "You inherit £100"
    },
    {
      "$id": "130",
      "Id": "c1",
      "CardType": "c",
      "Description": "Advance to Go (Collect £200)"
    },
    {
      "$id": "131",
      "Id": "c2",
      "CardType": "c",
      "Description": "Advance to Trafalgar Square. If you pass Go, collect £200"
    },
    {
      "$id": "132",
      "Id": "c3",
      "CardType": "c",
      "Description": "Advance to Mayfair"
    },
    {
      "$id": "133",
      "Id": "c4",
      "CardType": "c",
      "Description": "Advance to Pall Mall. If you pass Go, collect £200"
    },
    {
      "$id": "134",
      "Id": "c5",
      "CardType": "c",
      "Description": "Advance to the nearest Station. If unowned, you may buy it from the Bank. If owned, pay wonder twice the rental to which they are otherwise entitled"
    },
    {
      "$id": "135",
      "Id": "c6",
      "CardType": "c",
      "Description": "Advance to the nearest Station. If unowned, you may buy it from the Bank. If owned, pay wonder twice the rental to which they are otherwise entitled"
    },
    {
      "$id": "136",
      "Id": "c7",
      "CardType": "c",
      "Description": "Advance token to nearest Utility. If unowned, you may buy it from the Bank. If owned, throw dice and pay owner a total ten times amount thrown"
    },
    {
      "$id": "137",
      "Id": "c8",
      "CardType": "c",
      "Description": "Bank pays you dividend of £50"
    },
    {
      "$id": "138",
      "Id": "c9",
      "CardType": "c",
      "Description": "Get Out of Jail Free"
    },
    {
      "$id": "139",
      "Id": "c10",
      "CardType": "c",
      "Description": "Go Back 3 Spaces"
    },
    {
      "$id": "140",
      "Id": "c11",
      "CardType": "c",
      "Description": "Go to Jail. Go directly to Jail, do not pass Go, do not collect £200"
    },
    {
      "$id": "141",
      "Id": "c12",
      "CardType": "c",
      "Description": "Make general repairs on all your property. For each house pay £25. For each hotel pay £100"
    },
    {
      "$id": "142",
      "Id": "c13",
      "CardType": "c",
      "Description": "Speeding fine £15"
    },
    {
      "$id": "143",
      "Id": "c14",
      "CardType": "c",
      "Description": "Take a trip to Kings Cross Station. If you pass Go, collect £200"
    },
    {
      "$id": "144",
      "Id": "c15",
      "CardType": "c",
      "Description": "You have been elected Chairman of the Board. Pay each player £50"
    },
    {
      "$id": "145",
      "Id": "c16",
      "CardType": "c",
      "Description": "Your building loan matures. Collect £150"
    }
  ],
  "ActionPlacesConfiguration": [
    {
      "$id": "146",
      "SpaceNumber": 3,
      "Type": "cc"
    },
    {
      "$id": "147",
      "SpaceNumber": 8,
      "Type": "c"
    },
    {
      "$id": "148",
      "SpaceNumber": 18,
      "Type": "cc"
    },
    {
      "$id": "149",
      "SpaceNumber": 23,
      "Type": "c"
    },
    {
      "$id": "150",
      "SpaceNumber": 34,
      "Type": "cc"
    },
    {
      "$id": "151",
      "SpaceNumber": 37,
      "Type": "c"
    }
  ],
  "BankConfiguration": {
    "$id": "152",
    "NumHouses": 0,
    "NumHotels": 0
  },
  "BankWalletConfiguration": {
    "$id": "153",
    "Money": 20480,
    "TitleDeeds": [
      "Old Kent Road",
      "White Chapel Road",
      "The Angel Islington",
      "Euston Road",
      "Pentonville Road",
      "Pall Mall",
      "White Hall",
      "Northumberland Avenue",
      "Bow Street",
      "Marlborough Street",
      "Vine Street",
      "The Strand",
      "Fleet Street",
      "Trafalgar Square",
      "Leicester Square",
      "Conventry Street",
      "Piccadilly",
      "Regent Street",
      "Oxford Street",
      "Bond Street",
      "Park Lane",
      "Mayfair",
      "King's Cross Station",
      "Fenchurch St Station",
      "Marylebone Station",
      "Liverpool Street Station",
      "Electric Company",
      "Water works"
    ]
  },
  "PlayerConfigurations": [],
  "PlayerWalletConfigurations": [
    {
      "$id": "154",
      "Money": 1500,
      "TitleDeeds": null,
      "PlayerToken": 1
    }
  ]
}